.main {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
}

.greeting {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    font-size: 3rem;
}

.greeting_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.greet_heading {
    font-size: 3rem;
}

.cartoonImg {
    height: 400px;
    transition: all 1s;
    cursor: pointer;
    filter: drop-shadow(0px 0px 15px rgb(169, 10, 201));
}

.introduction {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    min-height: 100vh;
    width: 100%;
}

.intro_text {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    line-height: 2rem;
}

.intro_heading {
    font-size: 2.5rem;
}

.intro_para {
    font-size: 1.5rem;
}

.intro_img {
    height: 350px;
    filter: drop-shadow(0px 0px 15px rgb(169, 10, 201));
    cursor: pointer;
}

