.navbar {
    position: sticky;
    top: 0px;
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 1.3rem;
    font-size: 1.3rem;
    color: white;
    backdrop-filter: blur(15px);
    background-color: rgb(11, 4, 22);
    z-index: 1000;
}

.navbar_icon {
    cursor: pointer;
    color: orange;
    text-decoration: none;
    padding: 0.5rem;
    border: 3px solid rgb(255, 165, 0);
    border-radius: 30%;
    height: 100px;
    width: 100px;
    font-weight: bold;
}

.navbar_links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    list-style: none;
}

.navbar_links li {
    position: relative;
}

.navbar_links li::before {
    content: "";
    position: absolute;
    height: 6px;
    width: 100%;
    background-color: #ce56c8;
    border-radius: 8px;
    bottom: -10px;
    transform: scaleX(0);
    transition: transform 0.5s ;
}

.navbar_links li:hover::before {
    transform: scaleX(1);
}

.links {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.hamburger {
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    cursor: pointer;
}

.close {
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    cursor: pointer;
}

.linkIcons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;
}

#projects svg {
    height: 1.4rem;
}

#resume svg {
    height: 1.6rem;
}

.linkIcons svg {
    width: 1.5rem;
    height: auto;
}

@media screen and (max-width: 800px) {
    .navbar {
        justify-content: space-between;
        background-color: rgb(11, 4, 22);
    }
    
    .navbar_links {
        position: absolute;
        top: 60px; /* Adjust based on your navbar height */
        left: 0;
        right: 0;
        background-color: rgb(11, 4, 22);
        height: 0;
        overflow: hidden;
        transition: height 0.5s ease;
        width: 100%;
        flex-direction: column;
        gap: 2rem;
    }
    
    .show_navbar_links {
        height: 15rem;
        /* overflow-y: auto; */
        /* padding: 1rem 0; */
    }
    
    .hamburger {
        display: flex;
    }
    
    .close {
        display: flex;
    }

    .hamburger, .close {
        transition: transform 0.5s ease, opacity 0.3s ease;
      }
      
}