.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

.about_me {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    gap: 5rem;
}

.about_img {
    height: 350px;
    cursor: pointer;
    transition: all 1s;
    filter: drop-shadow(0px 0px 15px rgb(169, 10, 201));
}

.about_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 40%;
}

.about_heading {
    font-size: 2rem;
}

.about_para {
    font-size: larger;
}

.skills_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.skill {
    height: 100px;
    width: 150px;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    border: 2px solid orange;
    border-radius: 5px;
}

