* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans';
    color: white;
    /* outline: 2px solid red; */
    transition: all 0.5s ease;
}




html {
    
    --image-gradient: linear-gradient(
      to bottom left,
      rgba(17, 16, 16, 0.678),
      rgba(12, 10, 22, 0.863)
    );
  
    --imp-text-color: #ce56c8;
  }
  

body {
    /* background-image: var(--image-gradient), url(./assets/Hexagon2.svg); */
    background-color: rgb(22, 17, 37) !important;
    /* background-position: center; */
    /* background-repeat: no-repeat; */
    /* background-size:cover; */
}

.voilet_text, .Typewriter__wrapper {
  color: var(--imp-text-color);
}


@media screen and (max-width: 800px) {
  
}






