* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans';
    color: white;
}

html {
    
    --image-gradient: linear-gradient(
      to bottom left,
      rgba(17, 16, 16, 0.678),
      rgba(12, 10, 22, 0.863)
    );
  
    --imp-text-color: #ce56c8;
  }
  

body {
    /* background-image: var(--image-gradient), url(./assets/Hexagon2.svg); */
    background-color: rgb(22, 17, 37) !important;
    background-position: right center;
    background-repeat: no-repeat;
    background-size:inherit;
}

.voilet_text, .Typewriter__wrapper {
  color: var(--imp-text-color);
}





